<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>testWeb</title>
    <link type="text/css" rel="stylesheet" media="screen"
        href="http://127.0.0.1/fe_qunarchat_web/prd/styles/web/page/login/login@version.css" />
</head>

<body>
<div class="large-header">
    <div class="logo_box">
        <h3>欢迎你</h3>
        <form action="#" name="f" method="post">
            <div class="input_outer">
                <span class="u_user"></span>
                <input name="logname" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
            </div>
            <div class="input_outer">
                <span class="us_uer"></span>
                <input name="logpass" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"
                    value="" type="password" placeholder="请输入密码">
            </div>
            <div class="mb2"><a class="act-but submit" href="javascript:;" style="color: #FFFFFF">登录</a></div>
        </form>
    </div>
</div>

    <script type="text/javascript" src="http://127.0.0.1/fe_qunarchat_web/prd/navigation@dev.js"></script>
    <script type="text/javascript" src="http://127.0.0.1/jquery/prd/jquery-1.11.1.js"></script>
    <script type="text/javascript"
        src="http://127.0.0.1/fe_qunarchat_web/prd/scripts/page/web/login/login@version.js"></script>
</body>