html{color:#000;background:#fff}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}
del,ins{text-decoration:none}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:""}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:baseline}
sub{vertical-align:baseline}
legend{color:#000}
.sub-col{position:relative;z-index:999}
.top{height:7vh;line-height:7vh;border-bottom:1px solid #efefef}
.back{font-size:1.5rem;color:#7a797a;width:10vw;text-align:center;margin:0 auto;float:left}
.select{font-size:1.2rem;font-weight:bold;color:#2d2d2d;width:90vw;text-align:center;margin:0 auto;float:right}
.category{width:30vw;height:92.9vh;background:#f6f6f6}
.category ul li{height:8vh;line-height:8vh;background:#f6f6f6;border-bottom:1px solid #e4e3e4;border-top:1px solid #fff;cursor:pointer;color:#2d2d2d;text-align:center;margin:0 auto;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.pop-category{background:#fff;position:absolute;left:30vw;top:7vh;z-index:1000;height:91.9vh}
.pop-category .sub-item{width:69.9vw;height:92.9vh;border-top:1px solid #efefef}
.button{width:27vw;height:6vh;line-height:6vh;color:#3c77a7;background:#edf7fd;border:1px solid #a3d0ea;border-radius:3px;float:left;text-align:center;margin:3vh 2vw 3vh 5.3vw}
